body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.header {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
}

.menu-logo {
    display: flex;
    margin-left: 80px;
}

.logo-item {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-item:hover {
    color: #ffc107;
}

.menu-tengah {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.tengah-item {
    color: white;
    font-weight: 500;
    font-size: 12px;
    margin-right: 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.tengah-item:hover {
    color: #ffc107;
}

.menu-pisah {
    display: flex;
    align-items: center;
    margin-left: 900px;
}

.pisah-item {
    color: white;
    font-weight: 500;
    font-size: 12px;
    margin-right: 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

.pisah-item:hover {
    color: #ffc107;
}

/* banner */

.banner-title {
    color: white;
    font-size: 80px;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
}

.banner-subtitle {
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('assets/main-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

.btn-1 {
    height: 65px;
    width: 250px;
    border-radius: 4px;
    border: none;
    background-color: #ffc107;
    color: black;
    justify-content: center;
    align-items: center;
}

/* footer */
.the-story-title {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 40px;
}

.kecil {
    width: 40px;
    position: absolute;
    bottom: 10px;
}

/* page 2 */
.the-games {
    width: 100%;
    height: 100vh;
    background-image: url('assets/the-games-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.the-games-title {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 270px;
}

.the-games-subtitle {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 230px;
    left: 270px;
}

.the-games-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rockpaper {
    width: 43%;
    position: absolute;
    left: 615px;
    top: 250px;
}

.carousel-indicators {
    position: absolute;
    left: 270px;
    top: 580px;
}

.carousel-control-prev {
    position: absolute;
    left: 320px;
    top: 413px;
}

.carousel-control-next {
    position: absolute;
    right: 30px;
    top: 420px;
}

/* page 3 */
.the-features {
    background-image: url('assets/features.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.the-features-title {
    color: white;
    font-size: 30px;
}

.the-features-subtitle {
    color: white;
    font-size: 30px;
}

.the-features-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.the-features-title {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 190px;
    right: 320px;

}

.the-features-subtitle {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 220px;
    right: 250px;
}

.the-features-top-stepper {
    color:#ffc107;
    font-size: 20px;
    position: absolute;
    top: 400px;
    right: 290px;
}

.the-features-stepper-p {
    color: white;
    font-size: 12px;
    max-width: 250px;
    position: absolute;
    top: 435px;
    right: 230px;
    word-spacing: 5px;
}

.stepper {
    position: absolute;
    width: 1.2%;
    right: 520px;
    top: 405px;
}

.the-features-stepper-suit {
    color: #ffc107;
    font-size: 20px;
    position: absolute;
    right: 380px;
    top: 535px;
}

.the-features-stepper-tbd {
    color: #ffc107;
    font-size: 20px;
    position: absolute;
    right: 440px;
    top: 590px;
}
